body{
  padding-top: 50px !important;
}

.fullwidth.banner {
  position:relative;
}

.fullwidth.banner h1 {
  position: absolute; 
  top: 35%;
  bottom: 30%; 
  left: 0;
  text-align: center; 
  width: 100%; 
}

.navbar {
	padding-top: 30px;
	background-color:black;
	margin-bottom: 0px;
	border: 0px;
	color: white;
	border-radius: 0 !important;
}

.navbar-brand {
	color: white !important;
}

.navbar .learnmore {
	margin-left: 40%;
	padding-right: 20px;
}

.navbar-right.pull-right {
	float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar ul a {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.navbar-header {
	line-height: 50px;
}

.fullwidth {
  padding: 40px 15px 40px 15px;
  text-align: center;
}

.fullwidth-less {
  padding: 20px 15px 20px 15px;
  text-align: center;
}

.fullwidth.quoteblock {
  margin-bottom: 0px;
}

.fullwidth.quoteblock h3 {
	margin-bottom: 20px;
  color: gray;
}

#subpageheader {
	background-color: black;
  padding: 10px;
}

#subpageheader h4 {
  font-weight: normal;
  font-size: 13px;
	color: white;
}

#subpageheader h4.primary{
  text-transform: uppercase;
}

#subpageheader h4.secondary {
  font-size: 17px;
}

#hero-features {
  margin-bottom: 40px;
}

.hero-feature {
	margin-bottom: -20px;
}

.hero-feature .thumbnail {
	padding: 0px;
  height:144px;
  overflow:hidden;
  border-radius: 0px;
  border: none;
  background-color: none;
}

.hero-feature .thumbnail img {
	width: 100%
}

.banner {
  width:100%;
  min-height:200px;
  background-image:url('../images/thumbs/CSP_00.png');
  background-size:cover;
}

.banner h1{
    color: #ffffff;
}

.banner h2{
  color: #ffffff;
}


.interstitial {
  width:100%;
  height:100%;
  background-color: #6f5499;
  background-size:cover;
}

.team {
  padding-bottom: 40px;
}

.row li {
  width: 33.3%;
  float: left;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.navbar {
	margin-top: -30px;
}

.container .fullwidth h3 {
  color: #5C5858;
}

.main h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.main p {
	margin-bottom: 20px;
  color: #5C5858;
}

.fullwidth.quoteblock {
  background-color: #E5E4E2;
  padding: 50px;
  padding-bottom: 15px;
}

.fullwidth.quoteblock h2 {
  margin-bottom: 20px;
}

.post-content {
  background: none repeat scroll 0 0 #FFFFFF;
  opacity: 0.5;
  top:0;
  left:0;
  position: absolute;
}

.feature-overlay {
	z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  bottom: 20px;
  padding: 10px;
  padding-top: 10px;
  margin-top: 10%;
  background-color: black;
  display: block;
  min-height: 40px;
  width: 75%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 0px;
  top: 70px;
  padding: 20px;
}

.small-overlay {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 10px;
  left: 0px;
  top: 0px;
  padding: 20px;
}

#learn-more {
	background-color: black;
  padding: 20px;
}

#learn-more h3 {
	color: white;
  font-weight: thin;
}

.fullwidth p {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  color:#797979;
}

.learn-btn {
  display: inline-block;
  padding: 6px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #000000 ;
  border-radius: 0px;
  color: #000000;
  background-color: #fff;
}

.nav-tabs {
    border-bottom: 0px solid #ddd;
       margin: auto;
    margin-bottom: 20px;
        width: 480px;

    
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 2px solid transparent;
    border-bottom-color: #666666;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 2px solid transparent;
    border-radius:0px;
}

.nav-tabs>li {

    width: 120px;
    text-align: center;
}

.nav-tabs h5 {
    font-size: 14px;
}

.thumbnail {
    display: block;
    padding: 0px;
/*    background-color: #fff;*/
    border: none;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail p{
    font-size:14px;
    line-height: 130%;
}

.team {
	padding:40px;
  text-align: center;
}

.team h4 {
  margin-top: 10px;
  color: #5C5858;
}

.team p {
  color: gray;
}

.circle{
  width:100px;
  height:100px;
  border-radius:50px;
  color:red;
  line-height:100px;
  text-align:center;
  background:#000;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-bottom: 20px;
}

.team .caption{
  padding-top: 10px;

  color:#fff;
  line-height: 130%
}

.team .caption h5{
  color:#fff;
  font-size: 16px;
}

.team .caption p{
  color:#fff;
  font-size: 14px;
}

.black-bg{
  background-color: #000000;
}

.grey-bg{
  background-color: #666666;
}

.team .col-sm-6{
  margin-bottom: 20px
}

.navbar-header .navbar-brand {
  font-size: 1.8em;
}
.jumbotron{
    background-image: url("../images/thumbs/CSP_00.png");
background-size: cover;
    min-height: 200px;
    text-align: center;

}

.jumbotron h2{
        color: #fff;

}

.intro-text h4{
    padding: 60px 40px;
    text-align: center;
    color: #666;
   font-family: HelveticaNeue;
}

.teasers{
    padding: 20px;
     position: relative;
}
.teaser-bucket-1{
        background-image: url("../images/thumbs/CSP_00.png");
        height:240px;
    background-size: cover;
}

.teaser-bucket-2{
        background-image: url("../images/thumbs/CSP_13.png");
        height:240px;

    background-size: cover;

}

.teaser-bucket-3{
        background-image: url("../images/thumbs/CSP_01.png");
        height:240px;

    background-size: cover;

}

.sub-tag{
    font-size: 12px;
    color: #999;
    
}

.teasers p{
  position: relative;
  color: white;
  font-size: 18px;
  top: 120px;
  padding: 10px;
  padding-top: 10px;
  background-color: black;
  display: block;
  min-height: 40px;
    width: 75%;
  background: rgba(0, 0, 0, 0.5);  
}


@media (max-width: 600px) {
.teasers{
    padding: 0px;
}
}




.csps{
    color: #ffffff;
    padding: 20px
}

.csps p{
    position: relative;
    display: block;
    top: 40%;
}

.csp-01{
        background-image: url("../images/thumbs/CSP_01.png");
  background-size: cover;
    height: 200px;
}
.csp-02{
        background-image: url("../images/thumbs/CSP_02.png");
  background-size: cover;
    height: 200px;
}
.csp-03{
        background-image: url("../images/thumbs/CSP_03.png");
  background-size: cover;
    height: 200px;
}
.csp-04{
        background-image: url("../images/thumbs/CSP_04.png");
  background-size: cover;
    height: 200px;
}
.csp-05{
        background-image: url("../images/thumbs/CSP_05png");
  background-size: cover;
    height: 200px;
}
.csp-06{
        background-image: url("../images/thumbs/CSP_06.png");
  background-size: cover;
    height: 200px;
}
.csp-07{
        background-image: url("../images/thumbs/CSP_07.png");
  background-size: cover;
    height: 200px;
}
.csp-08{
        background-image: url("../images/thumbs/CSP_08.png");
  background-size: cover;
    height: 200px;
}
.csp-09{
        background-image: url("../images/thumbs/CSP_09.png");
  background-size: cover;
    height: 200px;
}
.csp-10{
        background-image: url("../images/thumbs/CSP_10.png");
  background-size: cover;
    height: 200px;
}
.csp-11{
        background-image: url("../images/thumbs/CSP_11.png");
  background-size: cover;
    height: 200px;
}
.csp-12{
        background-image: url("../images/thumbs/CSP_12.png");
  background-size: cover;
    height: 200px;
}

.csp-13{
        background-image: url("../images/thumbs/CSP_13.png");
  background-size: cover;
    height: 200px;
}

.csp-14{
        background-image: url("../images/thumbs/CSP_14.png");
  background-size: cover;
    height: 200px;
}

.csp-15{
        background-image: url("../images/thumbs/CSP_15.png");
  background-size: cover;
    height: 200px;
}



