.navbar ul {
  display: fixed;
  table-layout: fixed;
}

.navbar ul a {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px 40px 15px;
  text-align: center;
}

.banner {
  width:100%;
  height:100%;
  background-image:url('https://c.stocksy.com/a/RcN300/z0/805779.jpg');
  background-size:cover;
}

.wide {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
  text-align: center;
  background-color:gray;
}

.interstitial {
  width:100%;
  height:100%;
  background-color: #6f5499;
  background-size:cover;
}

.team {
  padding-bottom: 40px;
}

.row {
	margin-bottom: 20px;
}

.row li {
  width: 33.3%;
  float: left;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.team-practice-lead {
	margin-bottom: 20px;
}

.team-other-members {
	margin-top: 20px;
}

.navbar {
	margin-top: -30px;
}

.main p {
	margin-bottom: 20px;
}

.post-content {
  background: none repeat scroll 0 0 #FFFFFF;
  opacity: 0.5;
  top:0;
  left:0;
  position: absolute;
}

.overlay {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 0px;
  top: 70px;
  padding: 20px;
}

.small-overlay {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 10px;
  left: 0px;
  top: 0px;
  padding: 20px;
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}